.monster_gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song_text {
    color: white;
}

body {
    background: url("../img/halloween_bg.png") no-repeat center center fixed;
}