.unit_entry_name {
    border: 1px solid gray;
    border-radius: 5px;
    background: lightgray;
    padding: 2px;
    margin-left: 5px;
}

.unit_img {
    display: block;
    width: 64px;
    margin: 5px;
}

.unit_item {
    margin: 15px;
}