/* File: undertyper.css */
/* Author: AyeTSG */
/* Project: UnderTyper */
/* Purpose: Provide proper layout for the undertale typer */

/* Set the background of the page to black */
body {
    background-color: black;
}

/* General characters */
.character {
    position: relative;
}

/* Message border */
#onscreen_message_text {
    display: inline-block;
    border-style: solid;
    border-color: white;
    padding: 64px;
}

/* Sans characters */
.character.speaker_sans {
    image-rendering: crisp-edges;
    width: 32px;
    height: 32px;
    padding: 2px;
}